<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

            <script src="/js/xlsx.full.min.js"></script>
            <script src="/js/FileSaver.min.js"></script>
            <script
            src="https://code.jquery.com/jquery-2.1.4.js"></script>
            <title>Sales List</title>
            <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">

                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

                        </head>


                        <body>
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Open Sales/Table
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="/tables"> Open Table </a>
                                                <a class="dropdown-item" href="/displaysales">Display Sales</a>

                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Finished Good
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="/finishedgood"> Display Finished Goods </a>
                                                <a class="dropdown-item" href="/finishedgoodadder">Add Finished Good</a>

                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Raw Material
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="/rawmaterial"> Display Raw Materials </a>
                                                <a class="dropdown-item" href="/rawmaterialadder">Add New Raw Material</a>

                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Acquisition
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="/displayacquisition"> Display Acquisitions </a>
                                                <a class="dropdown-item" href="/acquisitionpage">Add Acquisition</a>

                                            </div>
                                        </li>

                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Scrapping
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                <a class="dropdown-item" href="/displayscrap"> Display Scraps </a>
                                                <a class="dropdown-item" href="/scrappage">Scrap Goods</a>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>

                            <h1 id="navbar"><span>Sales List</span></h1>

                            <div id="wrapper">
                                <button id="button-a">Create Excel</button>  
                                <table id="mytable" class="table table-striped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Sold products</th>
                                            <th scope="col">Total Cost</th>
                                            <th scope="col">Discount</th>
                                            <th scope="col">Total Selling Price</th>
                                        </tr>
                                    </thead>
                                    <tr th:each="sale : ${saleList}">
                                        <td th:text="${sale.id}"></td>
                                        <td th:text="${sale.localDateTime}"></td>

                                        <td>
                                            <div th:each="map : ${sale.itemQuantityMap}">
                                                <a th:each="mapEntry : ${map}">
                                                    <span th:text="${mapEntry.key.name}"></span> = 
                                                    <span th:text="${mapEntry.value}"></span> 
                                                </a>
                                            </div>   
                                        </td>
                                        <td th:text="${sale.totalCost}"></td>
                                        <td th:text="${sale.discount}"></td>
                                        <td th:text="${sale.totalSellingPrice}"></td>

                                    </tr>

                                </table>

                            </div>
                            <script>
                                var wb = XLSX.utils.table_to_book(document.getElementById('mytable'), {sheet: "Sheet JS"});
                                var wbout = XLSX.write(wb, {bookType: 'xlsx', bookSST: true, type: 'binary'});
                                function s2ab(s) {
                                    var buf = new ArrayBuffer(s.length);
                                    var view = new Uint8Array(buf);
                                    for (var i = 0; i < s.length; i++)
                                        view[i] = s.charCodeAt(i) & 0xFF;
                                    return buf;
                                }
                                $("#button-a").click(function () {
                                    saveAs(new Blob([s2ab(wbout)], {type: "application/octet-stream"}), 'test.xlsx');
                                });
                            </script>




                        </body>
                        </html>
