<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Kész termékek</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <tr th:each="cookedProduct : ${cookedProducts}">

    <div th:text="${cookedProduct.id}"></div>
    <div th:text="${cookedProduct.name}"></div>



    <td>Kategória: </td>       
    <td th:each="finishedGoodCategory : ${cookedProduct.finishedGoodCategory}"th:text="${finishedGoodCategory.category.displayValue}" ></td>



    <div th:each="map : ${cookedProduct.itemQuantityMap}">
        <div th:each="mapEntry : ${map}">
            <span th:text="${mapEntry.key}"></span> = 
            <span th:text="${mapEntry.value}"></span> 
        </div>
    </div>
</tr>

<tr th:each="reSaleProduct : ${reSaleProducts}">

<div th:text="${reSaleProduct.id}"></div>
<div th:text="${reSaleProduct.name}"></div>



<td>Kategória: </td>       
<td th:each="finishedGoodCategory : ${reSaleProduct.finishedGoodCategory}"th:text="${finishedGoodCategory.category.displayValue}" ></td>

<div th:text="${reSaleProduct.totalStock}"></div>
<div th:text="${reSaleProduct.purchasePrice}"></div>
</tr>


</body>
</html>
