<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Senbazuru</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <h1>Senbazuru Inventory Manager</h1>        
        <a href="/finishedgood">Display finished Goods</a> <br/>
        
        <a href="/finishedgoodadder">Add finished good </a> <br/>
        <a href="/rawmaterial">Display raw material</a> <br/>
        <a href="/rawmaterialadder">Add new raw material</a> <br/>
       <a href="/acquisitionpage">Add acquistions</a> <br/>
       <a href="/displayacquisition">Display acquistions</a> <br/>
       <a href="/displaysales">Display Sales</a> <br/>
        <a href="/tables">tables</a> <br/>
        <a href="/scrappage">Scrap Goods</a> <br/>
      <a href="/displayscrap">Display Scraps</a> <br/>
    </body>
</html>
