<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <title>Adding new material to inventory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Open Sales/Table
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/tables"> Open Table </a>
                            <a class="dropdown-item" href="/displaysales">Display Sales</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Finished Good
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/finishedgood"> Display Finished Goods </a>
                            <a class="dropdown-item" href="/finishedgoodadder">Add Finished Good</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Raw Material
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/rawmaterial"> Display Raw Materials </a>
                            <a class="dropdown-item" href="/rawmaterialadder">Add New Raw Material</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Acquisition
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/displayacquisition"> Display Acquisitions </a>
                            <a class="dropdown-item" href="/acquisitionpage">Add Acquisition</a>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Scrapping
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/displayscrap"> Display Scraps </a>
                            <a class="dropdown-item" href="/scrappage">Scrap Goods</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>Add new raw material!</h1>
        <div th:text="${successMessage}"></div>
        <form th:action="@{/rawmaterialadder}" th:object="${RawMaterialCreationFormData}" method="POST">
            <table>
                <tr>
                    <td>
                        Name of raw material:   
                    </td>
                    <td>
                        <input type="text" th:field="*{name}" id="name"  required/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>


                    </td>
                </tr>

                <tr>
                    <td>                        
                        Purchase price: 
                    </td>
                    <td>
                        <input type="number" th:field="*{purchasePrice}" id="purchasePrice" min="0" max="1000000" required/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('purchasePrice')}" th:errors="*{purchasePrice}"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        Total stock:    
                    </td>
                    <td>
                        <input type="number" th:field="*{totalStock}" id="totalStock" min="0" max="1000000" required/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('totalStock')}" th:errors="*{totalStock}"></span>
                    </td>
                </tr>
                
                                <tr>
                    <td>
                        Minimum stock:    
                    </td>
                    <td>
                        <input type="number" th:field="*{minimumStock}" id="totalStock" min="0" max="1000000" required/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('minimumStock')}" th:errors="*{minimumStock}"></span>
                    </td>
                </tr>


                <tr>
                    <td>
                        Image Link:    
                    </td>
                    <td>
                        <input type="text" th:field="*{imageLink}" id="imageLink"  required/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('imageLink')}" th:errors="*{imageLink}"></span>
                    </td>
                </tr>

            </table>

            <input type="submit" value="Submit" id="sendRawMaterialCreationForm"/>
        </form>
        <a href="/">Back</a>
    </body>
</html>
