<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
        <title>Adding new material to inventory</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Change raw material!</h1>
        <div th:text="${successMessage}"></div>
        <form th:action="@{/rawmaterial/change/{id} (id=${rawmaterial.id})}" th:object="${RawMaterialCreationFormData}" method="POST">
            
            <table>
                <tr>
                    <td>
                        Name of raw material:   
                    </td>
                    <td>
                        <input type="text" th:field="*{name}" id="name" th:placeholder="${rawmaterial.name}"/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>


                    </td>
                </tr>

                <tr>
                    <td>                        
                        Purchase price: 
                    </td>
                    <td>
                        <input type="number" th:field="*{purchasePrice}" id="purchasePrice" min="0" max="1000000" th:placeholder="${rawmaterial.purchasePrice}" /><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('purchasePrice')}" th:errors="*{purchasePrice}"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        Total stock:    
                    </td>
                    <td>
                        <input type="number" th:field="*{totalStock}" id="totalStock" min="0" max="1000000" th:placeholder="${rawmaterial.totalStock}"/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('totalStock')}" th:errors="*{totalStock}"></span>
                    </td>
                </tr>
                
                                <tr>
                    <td>
                        Minimum stock:    
                    </td>
                    <td>
                        <input type="number" th:field="*{minimumStock}" id="totalStock" min="0" max="1000000" th:placeholder="${rawmaterial.minimumStock}"/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('minimumStock')}" th:errors="*{minimumStock}"></span>
                    </td>
                </tr>


                <tr>
                    <td>
                        Image Link:    
                    </td>
                    <td>
                        <input type="text" th:field="*{imageLink}" id="imageLink"  th:placeholder="${rawmaterial.imageLink}"/><br/>
                    </td>
                    <td>
                        <span th:if="${#fields.hasErrors('imageLink')}" th:errors="*{imageLink}"></span>
                    </td>
                </tr>

            </table>

            <input type="submit" value="Submit" id="sendRawMaterialCreationForm"/>
        </form>
        <a href="/rawmaterial">Back</a>
    </body>
</html>
